<html>
<head>
  <meta name="viewport" content='width=device-width' />
  <title>The Satellite</title>
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script type="text/javascript" src="/javascripts/libraries/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image-caption.css">
  <link rel="stylesheet" type="text/css" href="/styles/news-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/content-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/blog.css">
  <link rel="stylesheet" type="text/css" href="/styles/media-queries.css">
</head>
<body>

  <!-- Libraries -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="main-container">
  <div class="nav-bar">
    <div class="main-logo">
      <a href="/"><h1>THE SATELLITE</h1></a>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="story">Story</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="technology">Technology</a></li>
        <li><a class="bold" href="blog">Blog</a></li>
        <li class="join-button"><a href="contact">Join Us</a></li>
      </ul>
    </div>
    <div class="hamburger">
      <i class="fa fa-bars fa-2x"></i>
    </div>
  </div>

  <div class="secondary-main-image">
    <img src="/images/hzoIL.jpg">
    <h1>Blog</h1>
    <div class="secondary-caption">
      <h2 class="secondary-main-image-text"><a href="google.com">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.</h2>
    </div>
  </div>



<!-- this is the container that holds all blog entries -->
    <div class="blog-container">


      <!-- this is the beginning of the blog entry  -->
      <div class="blog-entry-box">
        <!-- add the blog title below -->
        <h1 class="blog-headline">The Satellite @ NY Tech Meetup</h1>
        <!-- add the date of the blog post below -->
        <h5 class="blog-date">January 3, 2015</h5>
        <!-- add the text body of the blog below -->
        <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.</p>
        <!-- this is the container that holds the blog photo -->
        <div class="blog-image-container">
          <!-- add the blog photo below -->
          <img class="blog-image" src="/images/earth_sample.jpg">
        </div>
        <!-- below is the hr line divider to mark the end of an entry -->
        <hr>
      </div>
      <!-- this is the end of the blog entry -->

      <!-- this is the beginning of the blog entry  -->
      <div class="blog-entry-box">
        <!-- add the blog title below -->
        <h1 class="blog-headline">Testing the Land Layer</h1>
        <!-- add the date of the blog post below -->
        <h5 class="blog-date">January 3, 2015</h5>
        <!-- add the text body of the blog below -->
        <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.</p>
        <!-- this is the container that holds the blog photo -->
        <div class="blog-image-container">
          <!-- add the blog photo below -->
          <img class="blog-image" src="/images/earth_sample.jpg">
        </div>
      </div>
      <!-- this is the end of the blog entry -->

    </div>
    <!-- this is the end of the container that holds the blog entries -->



  <div class="nav-footer">
    <div class="nav-footer-left">
      <div class="nav-menu-footer">
        <ul>
          <li><a href="story">Story</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="technology">Technology</a></li>
          <li><a class="bold" href="blog">Blog</a></li>
          <li><a href="contact">Join Us</a></li>
        </ul>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.
      </p>
      <p>
        &copy; WIKA LLC
      </p>
    </div>

    <div class="nav-footer-right">

      <h5>FOLLOW THE PROJECT</h5>

      <a href="https://twitter.com/satproject" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @satproject</a>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>
  </div>

</body>
</html>
