<html>
<head>
  <meta name="viewport" content='width=device-width' />
  <title>The Satellite Project</title>
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script type="text/javascript" src="/javascripts/libraries/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image-caption.css">
  <link rel="stylesheet" type="text/css" href="/styles/news-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/content-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/media-queries.css">

  <!-- Libraries -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="nav-bar">
      <div class="main-logo">
        <h1>THE SATELLITE</h1>
      </div>
      <div class="nav-menu">
        <ul>
          <li>Story</li>
          <li>Team</li>
          <li>Technology</li>
          <li>Blog</li>
          <li class="join-button">Join Us</li>
        </ul>
      </div>
      <div class="hamburger">
        <i class="fa fa-bars fa-2x"></i>
      </div>
    </div>

  <div class="main-image">
    <img src="/images/hzoIL.jpg">
    <h1>A New Vision of Earth</h1>
  </div>

  <div class="main-image-caption">
    <h2>
      The Satellite is a live, photo-realistic experience of Earth from space, created purely from satellite data. For the first time, public audiences will be able to look down upon the planet as if they are looking out of a window in the International Space Station.
    </h2>

    <h3>FOLLOW THE PROJECT</h3>

    <div class="social-media-bar">
      <div class="fb-like" data-href="https://www.facebook.com/thesatelliteproject" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>

      <a href="https://twitter.com/satproject" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @satproject</a>
    </div>
  </div>

  <div class="news-container">
    <div class="news-item">
      <h2>
        "The Satellite wants to change the perception of Earth"
      </h2>
      <img class="news-item-logo" src="http://tctechcrunch2011.files.wordpress.com/2011/11/techcrunch_transparent.png">
    </div>

    <div class="news-item">
      <h2>
        "The Satellite wants to change the
        perception of Earth"
      </h2>
      <img class="news-item-logo" src="http://tctechcrunch2011.files.wordpress.com/2011/11/techcrunch_transparent.png">
    </div>

    <div class="news-item">
      <h2>
        "The Satellite wants to change the
        perception of Earth"
      </h2>
      <img class="news-item-logo" src="http://tctechcrunch2011.files.wordpress.com/2011/11/techcrunch_transparent.png">
    </div>
  </div>

  <hr>

  <div class="content-container">
    <h1>Realtime Data</h1>
    <h5>LEARN MORE</h5>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.
    </h3>
    <div class="img-container">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
    </div>
  </div>

  <hr>

  <div class="content-container">
    <h1>Photorealistic Visualization</h1>
    <h5>LEARN MORE</h5>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.
    </h3>
    <div class="img-container">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
      <img src="/images/earth_sample.jpg">
    </div>
  </div>

  <div class="nav-footer">
    <div class="nav-footer-left">
      <div class="nav-menu-footer">
        <ul>
          <li>Story</li>
          <li>Team</li>
          <li>Technology</li>
          <li>Blog</li>
          <li>Join Us</li>
          <li>Press</li>
          <li>Contact</li>
        </ul>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.
      </p>
      <p>
        &copy; WIKA LLC
      </p>
    </div>

    <div class="nav-footer-right">
      <h5>GET THE NEWSLETTER</h5>

      <form id="newsletterForm">
        <input style="display: inline; font-size: 13px; color: #999;" type="text" name="email" placeholder="email address">
        <input style="display: inline; font-size: 13px; color: #333;" type="submit" value="Submit">
      </form>

      <h5>FOLLOW THE PROJECT</h5>

      <div class="fb-like" data-href="https://www.facebook.com/thesatelliteproject" data-layout="button" data-action="like" data-show-faces="false" data-share="false">
      </div>
      <a href="https://twitter.com/satproject" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @satproject
      </a>

      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>

</body>
</html>
