<html>
<head>
  <meta name="viewport" content='width=device-width' />
  <title>The Satellite Project</title>
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script type="text/javascript" src="/javascripts/libraries/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image-caption.css">
  <link rel="stylesheet" type="text/css" href="/styles/news-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/content-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/media-queries.css">
</head>
<body>

  <!-- Libraries -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <div class="nav-bar">
      <div class="main-logo">
        <a href="/"><h1>THE SATELLITE</h1></a>
      </div>
      <div class="nav-menu">
        <ul>
          <li><a class="bold" href="story">Story</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="technology">Technology</a></li>
          <li><a href="blog">Blog</a></li>
          <li class="join-button"><a href="contact">Join Us</a></li>
        </ul>
    </div>
    <div class="hamburger">
      <i class="fa fa-bars fa-2x"></i>
    </div>
  </div>

  <div class="secondary-main-image">
    <img src="/images/hzoIL.jpg">
    <h1>A Living Portrait of Our Planet</h1>
    <h2 class="secondary-main-image-text">The Satellite is an experiential, photo-realistic portrait of Earth, seamlessly combining real-time imagery and remote sensing data from hundreds of satellites to present viewers with a true, three-dimensional vision of their planet from the perspective of the International Space Station.</h2>
  </div>

  <div class="content-container story-text">
    <h3>
      In 1968, the astronauts on board Apollo 8 experienced a profound emotional transformation upon seeing their home on the lunar horizon. Since then, many traveling astronauts report similar internal shifts: some are struck by the fragility of the atmosphere and ecosystem; others sense social boundaries and conflicts dropping away to reveal a feeling of unity; others grasp human existence in philosophical terms.
    </h3>

    <div class="secondary-image-container">
      <img class="secondary-image" src="/images/earth_sample.jpg">
    </div>

    <h3>
      These extraordinary feelings are vitally important to a greater understanding of ourselves and Earth, but only a tiny cluster of researchers and scientists have access to them. The Satellite will offer this arresting experience to the general public, opening up an unlimited discourse around the planet’s past, present and future.
      The first photographic glimpse of the Earth occurred only sixty-eight years ago, in 1946, after World War Two had ended. A V-2 rocket, launched from White Sands Missile Range, took a simple black and white image from a height of 65 miles. Twenty years later, NASA’s Gemini 11––complete with crew––produced the first color photograph of the Earth at over ten times the distance. In 1968, Apollo 8 snapped “Earthrise,” the first whole Earth image, as they approached the moon. In 1990 came NASA’s “Pale Blue Dot,” a photograph taken in deep space. These three images revolutionized the perception of our planet in both the scientific
    </h3>

    <h3>The first photographic glimpse of the Earth occurred only sixty-eight years ago, in 1946, after World War Two had ended. A V-2 rocket, launched from White Sands Missile Range, took a simple black and white image from a height of 65 miles. Twenty years later, NASA’s Gemini 11––complete with crew––produced the first color photograph of the Earth at over ten times the distance. In 1968, Apollo 8 snapped “Earthrise,” the first whole Earth image, as they approached the moon. In 1990 came NASA’s “Pale Blue Dot,” a photograph taken in deep space. These three images revolutionized the perception of our planet in both the scientific
    </h3>

    <div class="secondary-image-container">
      <img class="secondary-image" src="/images/earth_sample.jpg">
    </div>

    <h3>Despite their impact, these images are not tools — such as Google Maps — or experiences. The ability for anyone other than an astronaut to see the planet in the mind’s eye is limited to a still photograph on a flat surface. The Satellite taps into the vast, un-curated resource of intelligent live information, leveraging it with the emotional impact of cinematic imagery to create an extraordinarily detailed and nuanced representation of Earth.
    </h3>
  </div>

  <div class="nav-footer">
    <div class="nav-footer-left">
      <div class="nav-menu-footer">
        <ul>
          <li><a class="bold" href="story">Story</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="technology">Technology</a></li>
          <li><a href="blog">Blog</a></li>
          <li class="join-button"><a href="contact">Join Us</a></li>
        </ul>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada imperdiet eros blandit aliquet. Nullam facilisis, purus ut imperdiet auctor, lacus turpis elementum massa, et porttitor lectus diam in urna. Sed vel scelerisque risus.
      </p>
      <p>
        &copy; WIKA LLC
      </p>
    </div>

    <div class="nav-footer-right">

      <h5>FOLLOW THE PROJECT</h5>

      <a href="https://twitter.com/satproject" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @satproject</a>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="5" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>

</body>
</html>
