body {
  font-family: 'Open Sans', sans-serif;
  color: #999;
  text-align: center;
}

h1 {
  font-size: 33px;
  color: #333;
}

h2 {
  font-size: 17px
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 11px;
}

.navBar {
  width: 100%;
  margin: 20px 0 15px 0;
}

.navBar h5 {
  font-size: 13px;
  line-height: 30px;
}
/*add space between links to 20px*/

.navBar #logo {
  letter-spacing: 3px;
  display: inline;
  width: 230px;
}

.navBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navBar ul li {
  display: inline;
}

.navBar button {
  size: 1px;
  border-radius: 3px;
}

.navBar #newsletterForm {
  display: inline;
}

.heading {
  display: inline-block;
}

.heading img {
  width: 100%;
  height: 500px;
}

.heading h1 {
  letter-spacing: 3px;
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  color: #fff;
}

.heading h2 {
  color: #333;
}

.heading a {
  color: #4B78D0;
}

.heading h5 {
  letter-spacing: 2px;
}

.news h2 {
}

@media (max-width: 1000px) {

  body {
    font-size: 1.3em;
  }

}
@media (max-width: 500px) {
  body { font-size: 1.1; }
}
