.contact-container {
  padding: 65px 0 0 0;
  display: inline-block;
}

.contact-div {
  height: 260px;
  padding: 15px 0;
}

.contact-box {
  background-color: #fafafa;
  vertical-align: top;
  display: inline-block;
  width: 280px;
  height: 400px;
  margin: 0 15px 50px 15px;
  border: 1px solid RGBA(244, 244, 244, 1);
}

.contact-box h1 {
  font-size: 25px;
  font-weight: 300;
}

.contact-box p {
  margin: 2em auto;
  width: 80%;
}

.contact-button {
  border: 1px solid #999;
  border-radius: 4px;
  word-spacing: 1px;
  padding: 10px 20px;
  width: 40%;
  margin: 2em auto;
  background-color: #fff;
  font-size: 14px;
}