.main-image {
  display: inline-block;
}

.main-image img {
  width: 100%;
  height: 500px;
}

.main-image h1 {
  letter-spacing: 4px;
  position: absolute;
  top: 250px;
  width: 100%;
  color: #fff;
  font-size: 40px;
}

/*added*/

.secondary-main-image img {
  width: 100%;
  height: 350px;
}

.secondary-main-image h1 {
  letter-spacing: 4px;
  position: absolute;
  top: 120px;
  width: 100%;
  color: #fff;
  font-size: 40px;
}

.secondary-main-image-text {
  position: absolute;
  top: 230px;
  margin-left: 25%;
  width: 50%;
  color: #fff;
  line-height: 28px;
}
