.main-image {
  display: inline-block;
}

.main-image img {
  width: 100%;
  height: 260px;
}

.main-image h1 {
  letter-spacing: 3px;
  position: absolute;
  top: 100px;
  width: 100%;
  color: #fff;
  font-size: 33px;
}

.main-image-text {
  letter-spacing: 3px;
  position: absolute;
  top: 180px;
  margin: 25px 200px 30px 200px;
  color: #fff;
}
