.main-image {
  display: inline-block;
  background: url(/images/hzoIL.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 65px;
}

.main-image h1 {
  letter-spacing: 3px;
  position: absolute;
  top: 210px;
  width: 100%;
  max-width: 1000px;
  color: #fff;
  font-size: 40px;
}

/*added*/

.secondary-main-image {
  width: 100%;
  height: 365px;
  margin-top: 65px;
}

#story-img {
  background: url(/images/hzoIL.jpg);
  background-size: cover;
}

#team-img {
  background: url(/images/hzoIL.jpg);
  background-size: cover;
}

#technology-img {
  background: url(/images/hzoIL.jpg);
  background-size: cover;
}

#blog-img {
  background: url(/images/hzoIL.jpg);
  background-size: cover;
}

#join-img {
  background: url(/images/hzoIL.jpg);
  background-size: cover;
}

.secondary-main-image h1 {
  letter-spacing: 3px;
  position: absolute;
  top: 130px;
  width: 100%;
  color: #fff;
  font-size: 33px;
  max-width: 1000px;
  font-weight: 300;
}

.secondary-main-image h2 {
  margin: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
}

.secondary-caption {
  position: absolute;
  top: 220px;
  color: #fff;
  line-height: 28px;
  max-width: 1000px;
}

.secondary-caption a {
  color: #4B78D0;
  text-decoration: none;
  font-weight: 400;
}

.social-media-bar {
  width: 100%;
}

.fb-container {
  width: 93px;
  display:inline-block;
}

