@media (max-width: 767px) { /* For Phones */

  .nav-bar {
    height: 50px;
    padding: 0 5%;
  }

  .main-logo {
    left: 2em;
  }

  .nav-menu {
    display: hidden;
  }

  .nav-menu ul {
    display: inherit;
  }

  .nav-menu ul li {
    display: inherit;
  }
}

