@media (max-width: 860px) { /* For Phones */

  /* TOP NAV BAR */
  .nav-bar {
    height: 50px;
    /*padding: 0 5%;*/
  }

  .main-logo {
    display: inline-block;
    margin: 2 0;
    width: 85%;
  }

  .main-logo h1 {
    font-size: 20px;
    margin-left: 5%;
  }

  .nav-menu {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  /* MAIN IMAGE */
  .main-image img {
    height: 200px;
    margin-top: 50px;
  }

  .main-image h1 {
    letter-spacing: 3px;
    position: absolute;
    top: 9em;
    width: 100%;
    color: #fff;
    font-size: 15px;
  }

  /* MAIN IMAGE CAPTION */
  .main-image-caption h2 {
    color: #333;
    margin: 50px 5% 30px 5%;
    font-size: 13px;
  }

  .main-image-caption h3 {
    color: #999;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 11px;
  }

  .main-image-caption .social-media-bar {
    margin-bottom: 50px;
  }

  /* NEWS CONTAINER */
  .news-container {
    padding: 0px;
    font-size: 15px;
    width: 100%;
  }

  .news-item {
    width: 100%;
    margin: 0;
  }

  .news-item img {
    width: 46%;
    margin: 0 27%;
  }

  /* CONTENT CONTAINERS */
  .content-container {
    padding: 0;
    width: 100%;
  }

  .content-container h1 {
    font-size: 20px;
    margin-top: 1em;
  }

  .content-container h3 {
    font-size: 13px;
  }

  .content-container h5 {
    font-size: 11px;
    margin: 0 0 30px 0;
  }

  .content-container .img-container {
    width: 100%;
  }

  .img-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .img-container img {
    width: 30%;
    height: auto;
    margin: 0 1px;
  }

  hr {
    margin-top: 2em;
  }

  /* FOOTER */
  .nav-footer {
    margin-top: 2em;
    padding: 15px 5% 30px 5%;
    text-align: center;
  }

  .nav-footer-left {
    display: inline-block;
    float: none;
    width: 100%;
    font-size: 11px;
  }

  .nav-footer-right {
    color: #999;
    display: inline-block;
    float: none;
  }

  .nav-footer ul li {
    font-size: 13px;
    margin: 0 6px;
  }

  /* SECONDARY PAGES */

  .secondary-main-image img {
    height: 200px;
    margin-top: 50px;
  }

  .secondary-main-image h1 {
    letter-spacing: 1px;
    position: absolute;
    top: 5em;
    width: 100%;
    color: #fff;
    font-size: 15px;
  }

  .secondary-main-image h2 {
    letter-spacing: 0px;
    font-size: 11px;
    width: 84%;
    margin-left: 8%;
    top: 10em;
    line-height: 15px
  }

  .secondary-image {
    height: 200px;
    width: 200px;
    position: center;
  }

  /* TEAM */

  .team-member-container {
    float: center;
    vertical-align: center;
    display: block;
    width: 80%;
    margin: 2em 10%;
  }

  .team-member-container img {
    width: 80%;
  }

  .team-member-container h1 {
    font-size: 15px;
  }

  .team-member-container h3 {
    font-size: 13px;
  }

}



