.nav-bar {
  z-index: +1;
  height: 65px;
  width: 100%;
  max-width: 1000px;
  position: fixed;
  background: white;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
}

.nav-bar a {
  text-decoration: none;
  color: #999;
}

.nav-bar h1 {
  margin: 0;
  text-align: left

}

.main-logo {
  display: inline-block;
  width: 50%;
  letter-spacing: 0.5em;
  float: left;
  margin: 10px 0 0 30px;
}

.nav-menu {
  display: inline-block;
  top: 2em;
  right: 4em;
  float: right;
  margin: 20px 30px 0 0;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-menu ul li {
  display: inline;
  margin-left: 15px;
  font-size: 14px;
}

.hamburger {
  display: none;
  float: right;
  margin-right: 5%;
}

.join-button {
  border: 1px solid #999;
  border-radius: 4px;
  word-spacing: 1px;
  padding: 7px 20px;
}
