.news-container {
  padding: 65px 0;
  display: inline-block;
}

.news-item {
  width: 300px;
  display: inline-block;
  margin-right: 46px;
}

.news-item.right {
  width: 300px;
  display: inline-block;
  margin-right: 0;
}

.news-item h2 {
  margin-bottom: 25px;
  font-size: 15px;
  letter-spacing: 1px;
}

.news-item img {
  width: 300px;
}
