body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #999;
  text-align: center;
  margin: 0;
  /*max-width: 1000px;*/
}

hr {
  border: 0;
  width: 100%;
  max-width: 1000px;
  height: 1px;
  background: #ccc;
}

h1 {
  font-size: 33px;
  font-weight: 300;
  color: #333;
}

h2 {
  font-size: 17px
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 11px;
}

.bold {
  color: RGBA(51, 51, 51, 1);
  font-weight: 400;
}

.fb-like span {
  overflow:hidden;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
}
