.team-member-container {
  vertical-align: top;
  display: inline-block;
  width: 300px;
  margin: 65px 15px 0 15px;
}

.team-member-container img {
  width: 300px;
  height: 300px;
}

.team-member-container h1 {
  font-size: 25px;
  font-weight: 300;
}

.team-member-container h3 {
  font-size: 14px;
}

.bio-text {
  text-align: left;
}

.team-hr {
  margin-top: 80px;
}