body {
  font-family: 'Open Sans', sans-serif;
  color: #999;
  text-align: center;
}

h1 {
  font-size: 33px;
  color: #333;
}

h2 {
  font-size: 17px
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 11px;
}

.content-container {
  padding: 80px 200px;
}

.content-container h1 {
  font-size: 33px;
  color: #333;
  margin: 0 0 20px 0;
}

.content-container h5 {
  font-size: 11px;
  color: #999;
  margin: 0 0 40px 0;

}

hr {
  width: 75%;
}

.heading a {
  color: #4B78D0;
}

.heading h5 {
  letter-spacing: 2px;
}

#newsletterForm {
  display: inline;
}

/*
@media (max-width: 1000px) {

  body {
    font-size: 1.3em;
  }

}
@media (max-width: 500px) {
  body { font-size: 1.1; }
}*/
